/********** Desktop First **********/

/*Lezioni*/

@media  screen and (max-width:420px) {
    #lezioni {
        background-color: #f2f2cd ;
    }
    #lezioni .row .left, #lezioni .row .right{
        float: none;
        width: 100%;
    }
    #lezioni .row {
        margin: 0;
        width: 100%;
    }
} 

/* Steps */

@media screen and (max-width:420px) {
    #steps{
        background-color: #ffffff;
    }
    #steps .row .left, #steps .row .central, #steps .row .right{
        float: none;
        width: 100%;
    }
    #steps .row{
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width:420px) {
    #why {
        background-color: #f2f2cd;
    }
    #why .row {
        margin: 0;
        width: 100%;
    }
}

